div1 {
    flex: 2; 
    background-color: bisque;
    padding: 20px;
    height: 20px;
    width: 20px;
    order: 2;
}

 
div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
}

h1,a {
    font-family: sans-serif;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

#square1{
    width: 100px;
    height: 100px;
    background-color: bisque;
    position: fixed;
    top: 250px;
    left: 1400px;
}
