

#overflow {
    background: white;
    color: black;
    font-size: 40px;
    font-family: sans-serif;
    width: 400px;
    height: 40px;
    overflow: scroll;
    border: .5px solid black;
    text-align: center;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li {
    list-style: none;    
}

ul {
    margin-top: 0;
    padding-top: 0;
}
a {
    text-decoration: none;
    color: black;
}

 #text-display
        {   
            z-index: 1000;
            position: fixed;
            bottom: 50px;
            font-weight: regular;
            width: 90vw;
            left: 50%;
             -webkit-transform: translateX(0%) ;
            -moz-transform: translateX(-50%) ;
            transform: translateX(-50%) ;           
            font-size: 12px;
            line-height: 74px;
            font-family: arial;
            text-transform: capitalized;
            text-align: left;
            color:  white;
             text-transform: lowercase;
             width: 900px;
            color: 50px solid white;
            padding: 25px;
            margin: 25px;
        }
.music {
	position: absolute;
	left: 10px;
	top: 10px;
	color: gray;
    font-family: sans-serif;
}

.music:hover{
    background-color: lightgrey;
}