#box1 {
        width: 600px;
        height: 600px;
        background-color: black;
        position: fixed;
        left: 20%;
        top: -10%;
        -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    }  
    
      #box2 {
        width: 200px;
        height: 200px;
        background-color: black;
        position: fixed;
        left: 10%;
        top: 70%;
           -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
    }  
    