body, html {
height: 100%;
width: 100%;    
    
}

#snow{
    pointer-events: none;
    background: none;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    width: 100%;  
    left: 0;
    position: fixed;
    top: 0;
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}  

div3{
    background-color:black;
    color: white;
    font-family: sans-serif;
    font-size: 50px; 
    text-align: center;
    position: fixed;
    left: 400px;
    font-family: sans-serif;
}




div1 {
    position: relative;
    background: white;
    color: black;
    font-family: sans-serif;
    font-size: 50px;
    width: 90%;
    height: 1px;
    height: 1px;
    text-align: center;
}

  
div2{
    text-align: center;
    background-color: white;
    font-size: 16px;
    left: 500px;
    border: 5px solid black;
    font-family: sans-serif;
}


#oval1 {
	position: relative;
    width: 400px;
	height: 200px;
	background: black;
	border-radius: 200px / 100px;
	border-radius: 200px / 100px;
	border-radius: 200px / 100px;
    left: 520px;
    top: 50px;
    object-position: center;
}

#oval2 {
	position: relative;
    width: 100px;
	height: 50px;
	background: black;
	border-radius: 200px / 100px;
	border-radius: 200px / 100px;
	border-radius: 200px / 100px;
    left: 550px;
    top: 50px;
    object-position: center;
}

#oval3 {
	position: relative;
    width: 150px;
	height: 75px;
	background: black;
	border-radius: 200px / 100px;
	border-radius: 200px / 100px;
	border-radius: 200px / 100px;
    left: 100px;
    top: 50px;
    object-position: center;
}

#oval4 {
	position: relative;
    width: 200px;
	height: 100px;
	background: black;
	border-radius: 200px / 100px;
	border-radius: 200px / 100px;
	border-radius: 200px / 100px;
    left: 800px;
    top: 50px;
    object-position: center;
}


#star-six1 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid black;
	position: relative;
    top: 30px;
	left: -50px;
   
}

#star-six1:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid black;
	position: absolute;
	content: "";
	top: 30px;
	left: -50px;
}


a {
    color: pink;
    font-family: cursive;
    font-style: oblique;
}

a:hover{
    background-color: maroon;
}


div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

ul {
  margin: 0;
  list-style: none;
  font-size: 4vw;
  transform-style: preserve-3d;
  animation: three-dimensions-circle 30s linear infinite;
}

li {
  position: absolute;
  top: 50%;
  left: 50%;
}

li:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(2) {
  transform: translate(-50%, -50%) rotate(30deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(3) {
  transform: translate(-50%, -50%) rotate(60deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(5) {
  transform: translate(-50%, -50%) rotate(120deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(6) {
  transform: translate(-50%, -50%) rotate(150deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(7) {
  transform: translate(-50%, -50%) rotate(180deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(8) {
  transform: translate(-50%, -50%) rotate(210deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(9) {
  transform: translate(-50%, -50%) rotate(240deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(10) {
  transform: translate(-50%, -50%) rotate(270deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(11) {
  transform: translate(-50%, -50%) rotate(300deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(12) {
  transform: translate(-50%, -50%) rotate(330deg) translateY(-260px) rotateX(90deg);
}

@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }
  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}
