
body {
    height: 2500px;
}

p {  color: black;
    font-family: arial;
    font-size: 40px;}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.left{
	left:10px;
    bottom:10px;
    position: fixed;
    }
    
.right{
	right: 10px;
    bottom: 10px;
    position: fixed;
    }

.pagination a:hover:not(.active) {background-color: #ddd;}