
body {
    height: 600px;
    font-family: serif;
    font-size: 10px;
    text-align: right    
        
}

h4{
 color: bisque    
}

div {
    width: 100px;
    height: 50px;
    background-color: bisque;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}
    
#div1 {-webkit-animation-timing-function: linear;}
#div2 {-webkit-animation-timing-function: ease-in;}
#div3 {-webkit-animation-timing-function: ease-out;}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease-in;}
#div3 {animation-timing-function: ease-out;}



@keyframes mymove {
    from {left: 0px;}
    to {left: 1050px;}
    
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.left{
	left:10px;
    bottom:10px;
    position: fixed;
    }
    
.right{
	right: 10px;
    bottom: 10px;
    position: fixed;
    }

.pagination a:hover:not(.active) {background-color: #ddd;}