
body {
    height: 2500px;
}

p {  color: skyblue;
    font-family: sans-serif;
    font-size: 16px;}

#rotate1{
    right: 10px;
    top: 155px;
    position: fixed;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    
}

#rotate2{
    right: 100px;
    top: 350px;
    position: fixed;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
    
}

#rotate3{
    right: 10px;
    top: 600px;
    position: fixed;
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.left{
	left:10px;
    bottom:10px;
    position: fixed;
    }
    
.right{
	right: 10px;
    bottom: 10px;
    position: fixed;
    }

.pagination a:hover:not(.active) {background-color: #ddd;}